body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 100%;
    height: 100svh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spritePosition {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
}

.button {
    width: 140px;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        border: 1px solid #0ec3c9;
        color: #0ec3c9;
    }

    &:active {
        background-color: #0ec3c9;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
    }
}

#game-container {
    background-image: url("/assets/bgSite.jpg");
    /* display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center; */
    height: 100%;
    width: 100%;
    /* height: 500px;
    width: 500px; */
}

.start,
.end {
    /* width: 100%;
    height: 100%; */
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;

    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center;
}

.start {
    z-index: 2;
}
.end {
    z-index: -1;
}

